/lib/
/src/Fuse.Controls/.vs/Fuse.Controls/v16/.suo
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.AssemblyInfo.cs
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.assets.cache
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.csproj.CoreCompileInputs.cache
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.csproj.FileListAbsolute.txt
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.csprojAssemblyReference.cache
/src/Fuse.Controls/obj/Fuse.Controls.csproj.nuget.dgspec.json
/src/Fuse.Controls/obj/Fuse.Controls.csproj.nuget.g.props
/src/Fuse.Controls/obj/Fuse.Controls.csproj.nuget.g.targets
/src/Fuse.Controls/obj/project.assets.json
/src/Fuse.Controls/obj/project.nuget.cache
/src/Fuse.Controls/.vs/Fuse.Controls/v16/.suo
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.AssemblyInfo.cs
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.assets.cache
/src/Fuse.Controls/obj/Debug/net472/Fuse.Controls.csprojAssemblyReference.cache
/src/Fuse.Controls/obj/Fuse.Controls.csproj.nuget.dgspec.json
/src/Fuse.Controls/obj/Fuse.Controls.csproj.nuget.g.props
/src/Fuse.Controls/obj/Fuse.Controls.csproj.nuget.g.targets
/src/Fuse.Controls/obj/project.assets.json
/src/Fuse.Controls/obj/project.nuget.cache
/src/Fuse.Controls/.vs/*
/src/Fuse.Controls/obj/*
*.vl.dll
